<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ITI.covid19_tracker">

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_patient"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_patient"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.instractions.Instractions"
            android:theme="@style/SetingTheme">
        </activity>
        <activity
            android:name=".view.settings.settingsMain2Activity"
            android:theme="@style/SetingTheme" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MainActivity" />
        <activity android:name=".view.Tab.ActivityTab" />
    </application>

</manifest>